<!DOCTYPE html>
  <html>
    <head>
      <style type="text/css">
        body { text-align: center/font-family:helvetica,arial;font-size:22px;color:#888;margin:20px}
        #c {margin:0 auto;width:500px;text-align:left}
      </style>
    </head>
    <body>
      <h1>Buster's Best Bowling Alley</h1>
      <h2>Bet You Can't Bowl A Strike Every Time</h2>
      <p>97 Bowling Alley Lane, Boulder CO </p>
      <img src='http://example.org/_sinatra_/404.png'>
      <div id="c">
        Try this:
        <pre># in app.rb
          class app
          get &#x27;&#x2F;&#x27; do
            &quot;Hello World&quot;
          end
        end
      </pre>
    </div>
    </body>
  </html>
